<nav class="navbar navbar-static-top" role="navigation">
  <div class="nav_logo">
    <span class="nav_logo_text">info_U</span>
  </div>
  <div class="nav_main">
    <div class="nav_content">
      <li class="dropdown nav_menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">You have 10 notifications</li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
              <li>
                <a href="#">
                  <i class="fa fa-users text-aqua"></i> 5 new members joined today
                </a>
              </li>
            </ul>
          </li>
          <li class="footer"><a href="#">View all</a></li>
        </ul>
      </li>
      <li class="dropdown nav_menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="http://icons.iconarchive.com/icons/icons-land/vista-style-emoticons/256/Study-icon.png" class="user-image" alt="User Image">
          <span class="nav_main_text">User Name</span>
        </a>
        <ul class="dropdown-menu">
          <!-- User image -->
          <li class="user-header">
            <img src="http://icons.iconarchive.com/icons/icons-land/vista-style-emoticons/256/Study-icon.png" class="img-circle" alt="User Image">
            <p>강스누 - 학부생</p>
          </li>
          <li class="user-body">
            <a href="#">My Page</a>
          </li>
          <li class="user-body">
            <a href="/users/sign_out">로그아웃</a>
          </li>
        </ul>
      </li>
    </div>
  </div>
</nav>

<aside class="main-sidebar">
asdf
</aside>
<div style="margin-left:15%;">
<h1>로그인된 화면입니다.</h1>
<h2>메인페이지 만드는 중입니다.</h2>
</div>
